<div id='loading'><img src="../public/icons/Spinner-2.gif" style="display: block;"></div>

<div class='flex-container'>
  <div style='width:100%;margin-left: 5%;text-align: center;'>
    <div class='sidebar'>
      <div class='heading'>
        <h1>PLACES OF INTEREST</h1>
      </div>
      <div id='listings' class='listings'></div>
    </div>
    <div id="map" class="map pad2"></div>
  </div>
  <hr>
  <div class="blurb-TITLE">
    <hr>FACILITIES MANAGEMENT
    <hr>
  </div>
  <hr>
  <div id="ESP32CAM" class="ESP32CAM-container"></div>
  <br>
  <div id="myCalendar" style="max-width: 800px;margin: auto;">CALENDER</div>
</div>
<div id="createCheckCTA" class="ctaWrapper">
  <a class="cta blue"   href="checks/create">Create a Check</a>
  <a class="cta green"  href="sensors/create">Create a Sensor</a>
  <a class="cta red"    href="account/edit">Account Settings</a>
  <a class="cta black"    href="/checks/all">TIMER SETTINGS</a>
</div>


<!--// pk.eyJ1IjoiY2FsaWV3IiwiYSI6ImNrNmtiem0zeTAya3AzbXBhN29sM2FvdDAifQ.6lcFWApgUBtSQgxqtK-bdQ -->
